/* general */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: #FDFCF1;
    margin: 0;
}

@font-face {
    font-family: 'Ranille';
    src: url('./Ranille.ttf');
}

h1, h2, h3, p, a {
    color: #222;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

h1, h2, h3, .hero-badges-single {
    font-family: 'Ranille', serif;
    font-weight: 400;
}

h1 {
    font-size: 96px;
    line-height: 100%;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 24px;
}

p, a {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 22.5px;
    text-decoration: none;
}

.pagewrapper {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 24px 50px 0;
}

.section {
    width: 100%;
}

.blue {
    background: #6DA8FF;
}

.yellow {
    background: #FFCE50;
}

.orange {
    background: #FF8159;
}

.green {
    background: #5FCCA0;
}

/* hero */

.hero {
    display: flex;
    justify-content: center;
    gap: 35px;
    width: 100%;
    opacity: 0;
    position: relative;
    animation: fadein 1s ease-in-out;
    animation-fill-mode: forwards;

    img {
        width: 100%;
        max-width: 621px;
    }
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    h1, p {
        text-align: center;
    }

    p {
        font-weight: 400;
        line-height: 170%;
    }

    .hero-badges {
        display: flex;
        gap: 16px;
        justify-content: space-between;

        .hero-badges-single {
            padding: 12px 18px;
            border-radius: 10px;
            border: 1.5px solid #222;

            p {
                font-family: 'Ranille', serif;
                font-weight: 400;
                line-height: 100%;
            }
        }
    }

    .orangetext {
        color: #EF663A;
        font-weight: 700;
    }
}

/* userstory */

.userstory {
    display: flex;
    justify-content: center;
    opacity: 0;
    position: relative;
    animation: fadein 1s ease-in-out .5s;
    animation-fill-mode: forwards;
}

.userstory-video {
    width: 100%;
    max-width: 1040px;
}

/* team */

.team-section {
    width: 100%;
}

.team-header {
    padding-bottom: 36px;
    text-align: center;
    opacity: 0;
    position: relative;
    animation: fadein 1s ease-in-out 1s;
    animation-fill-mode: forwards;
}

.team {
    display: flex;
    justify-content: center;
    gap: 32px;
    opacity: 0;
    position: relative;
    animation: fadein 1s ease-in-out 1.5s;
    animation-fill-mode: forwards;

    .team-column {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 325px;

        .team-column-head {
            width: 100%;
            border: 1.5px solid #222;
            border-radius: 9px;
            padding: 15px 18px;
            margin-top: 20px;
        }

        .team-column-card {
            width: 100%;
            padding: 16px;
            gap: 16px;
            border: 1.5px solid #222;
            border-radius: 9px;
            display: flex;
            align-items: center;
            background: #FCFCFF;
            transition: all .3s ease-in-out;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 2px;
            }

            img {
                width: 84px;
                height: 84px;
                border: 1.5px solid #222;
                border-radius: 3px;
            }

            .team-column-card-content {
                display: flex;
                gap: 8px;
                align-items: center;

                img {
                    width: 30px;
                    height: 30px;
                    border: none;
                }

                img.smaller {
                    width: 19.5px;
                    height: 19.5px;
                }
            }
        }
    }
}

/* footer */

footer {
    display: flex;
    justify-content: end;
    opacity: 0;
    position: relative;
    animation: fadein 1s ease-in-out 2s;
    animation-fill-mode: forwards;

    img {
        width: 100%;
        max-width: 550px;
    }
}

/*responsivity*/

@media screen and (max-width: 1185px) {
    .hero {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 32px;

        .hero-text {
            width: 100%;

            .hero-badges {
                justify-content: center;
            }
        }
    }

    .pagewrapper {
        padding: 24px 24px 0;
    }
    
    
    .team {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 32px;
    }

    .pagewrapper {
        gap: 56px;
    }

    .hero {
        gap: 20px;
    }

    .hero-text {
        gap: 20px;

        p {
            font-size: 16px;
        }

        .hero-badges>.hero-badges-single {
            padding: 7.5px 10px;
            border-radius: 6px;
    
            p {
                font-size: 16px;
            }
        }
    }

    .team-header {
        padding-bottom: 16px;
    }
    
    .team {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
    
/*animation*/

@keyframes fadein {
    from {
        opacity: 0;
        position: relative;
        top: 30px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
